
@font-face {
    font-family: 'gilroy';
    src: url('fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'gilroy-bold';
    src: url('fonts/Gilroy-Bold.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'gilroy', sans-serif;
}

a {
	text-decoration: none;
	color: #53b175;
}

button {
    width: 100%;
    margin: 25px 0 10px 0;
    padding: 19px;
    background: #53b175;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    outline: none;
}

form {
	width: 100%;
}

h1 {
    font-family: 'gilroy-bold', sans-serif;
    font-size: 2.5rem;
}

h2 {
	font-size: 22px;
	margin-bottom: 10px;
}

p {
	font-weight: 600;
	margin-bottom: 40px;
}


#confirm-page {
    width: 100%;
}

#New-Password {
    width: 90%;
    margin: 80px auto;
    font-size: 14px;
    font-weight: 600;
}

#side-div {
    display: none;
    margin-top: 30px;
}



.info {
	margin: 15px 0 10px 0;
	border: none;
	outline: none;
	font-weight: 600;
}

.input {
	display: flex;
	flex-direction: column;
	margin: 30px 0 20px 0;
	font-size: 14px;
	border-bottom: 1px solid #e2e2e2;
}

.side-image {
    width: 45%;
}


/*TAB VIEW*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    form {
        width: 100%;
    }

    h1 {
        font-family: 'gilroy-bold', sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }

    #New-Password {
        width: 80%;
        padding: 50px 10px 50px 10px;
        border: 1px solid rgba(124,124,124,.2);
        -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        margin: 30px auto 0 auto;
    }


    #side-div {
        display: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .side-image {
        width: 45%;
    }
   
}

/*DESKTOP VIEW*/
@media screen and (min-width: 769px) {
    form {
        width: 40%;
    }

    #confirm-page {
        display: flex;
        flex-flow: row-reverse;
    }

    #New-Password {
        width: 60%;
        padding: 80px 10px 100px 10px;
        border: 1px solid rgba(124,124,124,0.1);
        -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
        margin: 30px auto 0 auto;
    }

    #side-div {
        display: none;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
