* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font styles*/
@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("./fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy Regular Italic";
  src: url("./fonts/Gilroy-RegularItalic.ttf");
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("./fonts/Gilroy-ExtraBold.ttf");
}

svg {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Gilroy Medium";
  border-radius: 19px;
  height: 67px;
  width: 370px;
}

input[type="button"] {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Gilroy Extra Bold";
  font-size: 20px;
  line-height: 18px;
}

input[type="search"] {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Gilroy Medium";
}

header {
  background: #fcfcfc;
}

nav input[type="search"] {
  width: 364px;
  height: 51px;
  background: #f2f3f2;
  border-radius: 15px;
  padding: 1% 10% 1% 5%;
  position: relative;
  font-family: "Gilroy Regular";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #7c7c7c;
}

.search {
  position: absolute;
  left: 33%;
  padding: 5%;
  z-index: 2;
}

#hamburger {
  display: none;
}

input[type="button"] {
  background: #53b175;
  border-radius: 10px;
  height: 51px;
  width: 125px;
  border-radius: 10px;
  color: white;
}

header > nav > ul > input[type="button"]:nth-child(5) {
  background-color: white;
  color: #53b175;
}

header > nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

header span {
  color: #53b175;
}

header a {
  color: #53b175;
  font-family: "Gilroy-Light";
}

header h6 {
  font-family: "Gilroy Extra Bold";
  font-size: 35px;
  line-height: 14px;
  text-align: left;
}

nav > ul {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

nav a {
  font-family: "Gilroy Bold";
  font-size: 20px;
  line-height: 23px;
}

section {
  height: 80vh;
  background-color: #fcfcfc;
}

section > main {
  height: 100%;
  width: 60%;
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

section > main > div {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

section > main > div h1 {
  font-family: "Gilroy Extra Bold";
  font-size: 36px;
  line-height: 28px;
  color: #030303;
}

section > main > div p{
  font-family: 'Gilroy Regular';
  font-size: 16px;
  line-height: 19px;
  color: #181725;
  width: 60%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

label {
  font-family: "Gilroy Bold";
  font-size: 16px;
  line-height: 29px;
  color: #181725;
}

input {
  /* background: #181725; */
  border-style: hidden hidden groove hidden;
  padding: 10px 0;
  outline: none;
  background-color: #fcfcfc;
  font-family: "Gilroy Regular";
  font-size: 16px;
  line-height: 29px;
  color: #181725;
}

main button {
  background: #53b175;
  border-radius: 19px;
  color: #fff9ff;
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
}

footer {
  color: white;
  background: #53b175;
  height: 30vh;
}

footer p {
  font-family: "Gilroy Medium";
}

footer main {
  display: flex;
  align-items: center;
  height: 80%;
  justify-content: center;
  flex-direction: column;
}

footer > main > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > main > span:nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

footer > span {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 8%;
}

@media only screen and (max-width: 769px){
    html,
  body {
    overflow-x: hidden;
  }

  header > nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0;
}

  nav > ul {
    display: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }

  nav input[type="search"] {
    width: 364px;
    height: 51px;
    background: #f2f3f2;
    border-radius: 15px;
    padding: 1% 10% 1% 5%;
    position: relative;
    display: none;
  }

  nav ul {
    transform: translateY(-800px);
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 130, 130, 0.8);
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
    align-items: center;
  }

  nav a {
    color: white;
  }

  nav ul.show {
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(177, 177, 177, 0.753);
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    align-items: center;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  #hamburger {
    display: block;
    height: 100%;
  }

  .search {
    position: absolute;
    left: 33%;
    padding: 5%;
    z-index: 2;
    display: none;
  }

  section > main {
    height: 100%;
    width: 80%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  section > main > div h1 {
    font-family: "Gilroy Extra Bold";
    font-size: 1.5rem;
    line-height: 28px;
    color: #030303;
  }
  
  section > main > div p{
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 19px;
    color: #181725;
    width: 100%;
  }
  
  main button {
    background: #53b175;
    border-radius: 19px;
    color: #fff9ff;
    font-family: "Gilroy Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    height: 10%;
    width: 80%;
  }


  footer > main > span:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  footer > main > span:nth-child(3) img {
    width: 5vw;
  }

  footer > span {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
  }
}