/* Font Style*/

@font-face {
    src:url(./fonts/gilroy/Gilroy-ExtraBold.ttf);
    font-family:'Gilroy-Extra-Bold';   
}
@font-face {
    src:url(./fonts/gilroy/Gilroy-Regular.ttf);
    font-family:'Gilroy-Regular';
}
@font-face {
    src:url(./fonts/gilroy/Gilroy-Medium.ttf);
    font-family:'Gilroy-Medium';
}
@font-face {
    src:url(./fonts/gilroy/Gilroy-SemiBold.ttf);
    font-family:'Gilroy-SemiBold';
}
@font-face {
    src:url(./fonts/gilroy/Gilroy-Bold.ttf);
    font-family:'Gilroy-Bold';
}

/* Desktop View*/
@media screen and (min-width:541px) {
    header, footer, div.all-rows,input[type=text] {
        display: none;
    }  
    div.desktop-view{
        width: 50%;
        margin: auto;
        font-size:xx-large;
    }
}



/* Mobile View */
@media screen 
    and (min-width:020px)
    and (max-width:540px){
    
        *{
            margin: 0;
            padding: 0;
            font-size: 16px;
            font-family:'Gilroy-Extra-Bold';
            
        }
     

        body{
            background-color: #fcfcfc;
        }
        
        .header{
            display: flex;
            flex-direction: row;
            margin-top: 3em;
            margin-left: 8%;
            margin-bottom: 4%;
        }
        .section-text{
            display: flex;
            flex-direction: row;
            margin-left: 8%;
            width: 80%;  
            font-size: 1.5em;
            font-family: 'Gilroy-SemiBold';
        }
        .section-text p{
            font-size: 3.5vw;
        }

        .back-btn{
            /* margin-left: 26px; */
            margin-top: auto;
            margin-bottom: auto;
        }
        .forward-btn{
            margin-right: 100%;
        }
        .header p{
            width:100%;
            text-align: center;
            line-height: 2em;
            font-weight: bold; 
            font-family:'Gilroy-Extra-Bold';
            font-size: 1.25em;
        }

        main{
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        input[type=text]{
            width: 90%;
            height: 7%;
            background-color: #f2f3f2;
            border-radius: 1em;
            border: 1px solid #f2f3f2;
            background-image: url('./visual assets/search.svg');
            background-repeat: no-repeat;
            background-position: 93%;
            margin-top: 3%;
            margin-left: 8%;
            margin-right: 8%;
            padding-left: 5%;
            margin-bottom: 4%;
        }
        ::placeholder {
            color: #7c7c7c;
            text-align: center;
            font-family: 'Gilroy-Regular';
            font-size: 0.75em;
        }
        .top-card{
            width: 90%;
            border: 1px solid #53B175;
            margin-left: 8%;
            margin-right: 8%;
            border-radius: 1em;
            display: flex;
            flex-direction: row;
            height: 25vw;
            margin-bottom: 4%;
            margin-top: 4%;
            padding-top: 1em;
            
        }
        .inner{
            margin:auto;
            display: flex;
            flex-direction: row;
        }

        .notification-bell{
            width: 12vw;
            height: 12vw;
            margin-left: 1em;
            margin-right: 1em;
            margin-top:0.5em;
        }
        .display-text{
            display: flex;
            flex-direction: column;
            text-align: left;
            /* margin-left: 7vw; */
            
        }
        .top-text,.bottom-text{
            font-size: 3.5vw;
            font-family:'Gilroy-Bold';
            width: 80%;
        }
        .top-text{
            margin-bottom: 0.6em;
            font-size:1.125em;
            font-size: 3.5vw;
            color: #53B175;
            font-family: 'Gilroy-Extra-Bold';
        }

        div.all-rows{
            
            margin-top: 4%;
            width: 100vw;
            margin-left: 8%;
            margin-right: 8%; 
        }

        div.rect{
            display: flex;
            flex-direction: row;
        }
        
        .col-1{
            width: 40%;
            height:50vw;
            background-color: white;
            border: 1px solid #53B175;
            border-radius: 10%;
            margin-right: 4%;
            margin-bottom:8%;
            padding: 1%;
        }

        p.product-name,
        .leasor,
        .ratings{
            text-align: left;
            font-family:'Gilroy-Extra-Bold';
            font-size: 1em;
        }
        p.product-name
        {
            font-size: 4.9vw;
        }
        .leasor{
            margin-bottom: 1%;
            font-family: 'Gilroy-Medium';
            font-size: 3.5vw;
        }
        .ratings{
            font-size: 3vw;
        }
        .product-price{
            font-family: 'Gilroy-SemiBold';
            padding: 5% 0 5% 0;
            margin-right: 35%;
            font-size: 0.95em;
            font-size: 3.5vw;
            margin-top: 0.6vw ;
        }
        .col-2{
            width: 40%;
            height: 50vw;
            background-color: white;
            border: 1px solid #53B175;
            border-radius: 10%;
            padding: 1%;
        }

        div.bottom-row{
            display: flex;
            flex-direction:row;
            /* margin-top: -3.5%; */
        }

        div.cart-background{
            width:6vw;
            height:6vw;
            background-color: #53B175;
            border-radius: 30%;
            margin: 5% 0 5% 0;
            padding: 0.3vw;
            
        }
        .cart{
           width: 3vw;
           height: 3vw; 
           padding: 18% 10%;
        }

        #box-5,#box-6{
            margin-bottom: 6.5em;
        }
        

        /* Box Background Images */

        img.equipments{
            width:100%;
            height:50%;
            object-fit: contain;
        }
        /* Footer Navigation Bar */
        .nav{
            display:flex;
            flex-direction: row;
            position: fixed;
            bottom: 0em;
            width: 100%;
            height:10%;
            background-color: #fcfcfc;
            border-top-right-radius: 1.5em;
            border-top-left-radius: 1.5em;
            box-shadow:0px 1px 26px rgba(37, 37, 37, 0.75);
            
            
        }
       

        /* Footer Navigation Links */
        /* .nav-bar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            min-width: 50px;
            overflow:hidden;
            white-space:nowrap;
            
        }  */
        .nav-links{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            margin: auto;
            color: black;
            /* background-color: transparent; */
            -webkit-tap-highlight-color: transparent;
            font-size: 0.75em;
            font-family: "Gilroy-SemiBold";
        }

        .nav-icons{
            width:20px;
            height: 20px;
            margin-left:22%;
            margin-bottom:0.4em;
        }


        /* Hover States */

        /* a.nav-links:hover{
            color: #53B175;
            transition: background-color 0.1s ease-in-out;
        } */
        /* #Home:hover{
            background-image: url(/assets/icons/navigation/);
        } */

        div.desktop-view{
            display: none;
        }
    }



    