* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*font styles*/
@font-face {
  font-family: "Gilroy Bold";
  src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("./fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("./fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy Regular Italic";
  src: url("./fonts/Gilroy-RegularItalic.ttf");
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("./fonts/Gilroy-ExtraBold.ttf");
}

svg {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Gilroy Medium";
  border-radius: 19px;
  height: 67px;
  width: 370px;
}

input[type="button"] {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Gilroy Extra Bold";
  font-size: 20px;
  line-height: 18px;
}

input[type="search"] {
  outline: none;
  cursor: pointer;
  border: none;
  font-family: "Gilroy Medium";
}

header {
  background: #fcfcfc;
}

nav input[type="search"] {
  width: 364px;
  height: 51px;
  background: #f2f3f2;
  border-radius: 15px;
  padding: 1% 10% 1% 5%;
  position: relative;
  font-family: "Gilroy Regular";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #7c7c7c;
}

.search {
  position: absolute;
  left: 33%;
  padding: 5%;
  z-index: 2;
}

#hamburger {
  display: none;
}

input[type="button"] {
  background: #53b175;
  border-radius: 10px;
  height: 51px;
  width: 125px;
  border-radius: 10px;
  color: white;
}

header > nav > ul > input[type="button"]:nth-child(5) {
  background-color: white;
  color: #53b175;
}

header > nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

header span {
  color: #53b175;
}

header a {
  color: #53b175;
  font-family: "Gilroy-Light";
}

header h6 {
  font-family: "Gilroy Extra Bold";
  font-size: 35px;
  line-height: 14px;
  text-align: left;
}

nav > ul {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

nav a {
  font-family: "Gilroy Bold";
  font-size: 20px;
  line-height: 23px;
}

#firstsection {
  height: 100vh;
  background: #fcfcfc;
}

#firstsection main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.heroimg {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10%;
}

.heroimg img {
  width: 100%;
}

.borrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  height: 70%;
  justify-content: space-around;
  text-align: center;
  /* align-items: flex-start; */
  padding-top: 15%;
}

.borrow h1 {
  font-family: "Gilroy Extra Bold";
  font-size: 50px;
  color: #030303;
  text-align: left;
}

.borrow p {
  font-family: "Gilroy Medium";
  color: #030303;
  text-align: left;
  font-size: 24px;
  color: #000000;
}

.borrow button {
  background: #53b175;
  color: white;
  border-radius: 19px;
  height: 66px;
  width: 233px;
  width: 370px;
  font-family: "Gilroy Extra Bold";
  font-size: 20px;
  line-height: 18px;
}

#secondsection {
  height: 1366.18px;
  background-color: #53b175;
}

#secondsection > main {
  width: 90%;
  margin: 2% auto;
  height: 100%;
}

#secondsection > main > div {
  display: flex;
  flex-direction: column;
}

#secondsection > main > div:nth-child(1) > h2 {
  padding: 10% 0 5% 0;
  font-family: "Gilroy Bold";
  font-size: 36px;
  line-height: 28px;
  color: #fafafa;
}

#offer {
  display: flex;
  justify-content: space-between;
  height: 40%;
}

.offer {
  position: relative;
  width: 20%;
  border-radius: 23px;
  height: 241.92px;
  padding: 3%;
  background-color: white;
  text-align: center;
}

.offer h3 {
  font-family: "Gilroy Bold";
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #030303;
  padding: 10px 0;
}

.offer p {
  font-family: "Gilroy Regular";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #181725;
}

.offer img {
  position: absolute;
  bottom: 95%;
  left: 40%;
  height: 30px;
}

#categories {
  display: flex;
  height: 60%;
  margin-top: 3%;
}

#categories h2 {
  font-family: "Gilroy Extra Bold";
  font-size: 36px;
  line-height: 28px;
  color: #fcfcfc;
  padding-top: 5%;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 80%;
}

.categories img {
  width: 100%;
  height: 100%;
}

.categories h2 {
  font-family: "Gilroy Extra Bold";
  font-size: 36px;
  line-height: 28px;
}

.asset img {
  width: 80%;
}

.asset {
  padding: 3%;
  height: 240.44041442871094px;
  width: 23%;
  border-radius: 22.143396377563477px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.28px solid #e2e2e2;
  border-radius: 22.1434px;
}

.asset p {
  font-family: "Gilroy Bold";
  font-size: 19.683px;
  line-height: 23px;
  text-align: center;
  color: #030303;
}

.asset > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.asset > div:nth-child(2) img {
  /* width: 20%; */
  padding: 2%;
  height: 40px;
  width: 50px;
  border-radius: 17px;
  background-color: #53b175;
}

.asset > div:nth-child(2) {
  height: 20%;
}

.asset > div:nth-child(1) {
  padding: 2%;
  height: 70%;
}

#thirdsection {
  background: #fcfcfc;
  height: 90vh;
}

#thirdsection > main {
  width: 90%;
  margin: 0% auto;
}

#thirdsection h3 {
  padding: 150px 0 50px;
  font-family: "Gilroy Extra Bold";
  font-size: 36px;
  line-height: 28px;
  color: #030303;
}

.reviews {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews p {
  font-family: "Gilroy Light";
}

.review {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  padding: 2%;
  border-radius: 18px;
  border: 1px solid #53b175;
  background-color: white;
}

.review div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.review :nth-child(2) p {
  font-family: "Gilroy Regular Italic";
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #181725;
}

.reviewer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  height: 70%;
}

.reviewer img {
  width: 100%;
  background-image: url("./visual assets/Ellipse\ 1.svg");
  background-position: center;
  border-radius: 80px;
}

.reviewer p {
  font-family: "Gilroy Bold";
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #030303;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 3% auto;
}

.stats p {
  font-family: "Gilroy Light";
}

.rent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rent button {
  background: #53b175;
  height: 66px;
  width: 233px;
  border-radius: 19px;
  cursor: pointer;
  font-family: "Gilroy Extra Bold";
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  color: #FFF9FF;
}

footer {
  color: white;
  background: #53b175;
  height: 30vh;
}

footer p {
  font-family: "Gilroy Medium";
}

footer main {
  display: flex;
  align-items: center;
  height: 80%;
  justify-content: center;
  flex-direction: column;
}

footer > main > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > main > span:nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

footer > span {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 8%;
}

@media only screen and (max-width: 769px) {
  html,
  body {
    overflow-x: hidden;
  }

  header > nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0;
}

  nav > ul {
    display: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }

  nav input[type="search"] {
    width: 364px;
    height: 51px;
    background: #f2f3f2;
    border-radius: 15px;
    padding: 1% 10% 1% 5%;
    position: relative;
    display: none;
  }

  nav ul {
    transform: translateY(-800px);
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(130, 130, 130, 0.8);
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
    align-items: center;
  }

  nav a {
    color: white;
  }

  nav ul.show {
    transform: translateY(0);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(177, 177, 177, 0.753);
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    align-items: center;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  #hamburger {
    display: block;
    height: 100%;
  }

  .search {
    position: absolute;
    left: 33%;
    padding: 5%;
    z-index: 2;
    display: none;
  }

  #firstsection main {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .borrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-top: 0%;
  }

  .borrow h1 {
    font-family: "Gilroy Extra Bold";
    font-size: 1.5rem;
    /* line-height: 30px; */
    color: #030303;
    text-align: left;
  }

  .borrow p {
    font-family: "Gilroy Medium";
    color: #030303;
    text-align: left;
    font-size: 1rem;
    color: #000000;
  }

  .borrow button {
    background: #53b175;
    color: white;
    border-radius: 19px;
    height: 20%;
    width: 80%;
  }

  .heroimg {
    height: 50%;
    padding: 5%;
    display: flex;
    justify-content: center;
  }

  .heroimg img {
    width: 80%;
    height: 100%;
  }

  #secondsection {
    height: 180vh;
    background-color: #53b175;
  }

  #secondsection h2 {
    color: hsl(0deg 0% 100%);
    margin: 5% 0;
  }

  #secondsection main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #secondsection > main > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
  }

  #secondsection > main > div:nth-child(1) > h2 {
    padding: 5% 0 0;
    font-family: "Gilroy Bold";
    font-size: 1.5rem;
    line-height: 28px;
    color: #fafafa;
}

  #offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .offer {
    position: relative;
    width: 80%;
    border-radius: 23px;
    height: 23%;
    padding: 2%;
    background-color: white;
  }

  .offer h3 {
    font-family: "Gilroy Bold";
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    color: #030303;
    padding: 5px 0;
}

  .offer img {
    position: absolute;
    bottom: 90%;
    left: 45%;
    height: 30px;
  }

  #categories {
    display: flex;
    align-items: center;
    height: 50%;
    /* margin-top: 3%; */
  }

  #categories h2 {
    font-family: "Gilroy Extra Bold";
    font-size: 1.5rem;
    line-height: 28px;
    color: #fcfcfc;
    padding-top: 5%;
}

  .categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* align-items: center; */
    height: 70%;
    width: 100%;
    overflow-x: auto;
    /* transform: translateX(-100px); */
  }

  .categories::-webkit-scrollbar {
    height: 100%;
    /* background-color: white; */
  }

  .categories::-webkit-scrollbar-thumb {
    /* background-color: white; */
    border-radius: 10px;
    height: 100%;
  }

  .asset {
    padding: 3%;
    width: 500px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.28px solid #e2e2e2;
    border-radius: 10px;
  }

  .asset img {
    width: 100%;
  }

  .asset > div:nth-child(1) {
    padding: 2%;
    height: 50%;
    display: flex;
    align-items: center;
  }

  .asset > div:nth-child(2) {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: unset;
  }

  .asset > div:nth-child(2) img {
    /* width: 20%; */
    padding: 2%;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: #53b175;
  }

  #thirdsection {
    background: #fcfcfc;
    height: 150vh;
  }

  #thirdsection > main {
    height: 100%;
    width: 90%;
    margin: 0% auto;
}

  #thirdsection h3 {
    padding: 4% 0;
    font-size: 1.5rem;
  }

  .reviews {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .review {
    display: flex;
    text-align: center;
    /* flex-direction: column;
      align-items: center; */
    justify-content: space-between;
    width: 100%;
    height: 25%;
    padding: 2%;
    border-radius: 18px;
    border: 1px solid #53b175;
    background-color: white;
  }

  .review div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .reviewer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    height: 70%;
  }

  .reviewer img {
    width: 100%;
    backdrop-filter: blur(4px);
  }

  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10% auto;
  }

  .stats img {
    width: 5vw;
    height: 50%;
  }

  .rent button {
    background: #53b175;
    border-radius: 19px;
    color: white;
    height: 66px;
    width: 233px;
    border-radius: 19px;
    cursor: pointer;
  }

  footer > main > span:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }

  footer > main > span:nth-child(3) img {
    width: 5vw;
  }

  footer > span {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
  }
}
