/*@font-face {
    font-family: "Gilroy Bold";
    src: url("./fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("./fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("./fonts/Gilroy-Regular.ttf");
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Gilroy Bold", sans-serif;
    font-family: "Gilroy Medium", sans-serif;
    font-family: "Gilroy Regular", sans-serif;*/
}

a {
    text-decoration: none;
}

h3 {
    font-size: 21px;
    color: #53b175;
    line-height: 1.5;
    text-align: center;
    margin: 0.3rem 0;
}

header {
    background: #FCFCFC;
    display: flex;
    padding-top: 1rem;
}

ul {
    list-style-type: none;
}


#close {
    display: none;
    position: relative;
    z-index: 3;
    width: 50%;
    padding-left: 20%;
    cursor: pointer;
}

#cover {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background: rgba(150, 150, 150, 0.25);
}

#first-section {
    width: 90%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    margin: 1.2rem auto;
}

#hamburger {
    margin-top: 0.5rem;
}

#second-section {
    width: 90%;
    margin: 3rem auto;
}

    #second-section > div {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;
    }

#second-section > p {
    margin: 0.4rem auto;
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
}

#third-section {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    margin: 0 auto 3rem auto;
}

#third-section h3 {
    margin-top: 1rem;
}

#fourth-section {
    width: 90%;
    margin: 1rem auto 3rem auto;
}

#fourth-section > p {
    text-align: center;
    font-weight: 600;
}


.hamburger-menu {
    display: block;
    width: 50%;
    padding-left: 30%;
    margin: 0.5rem 0 0.5rem 0;
}

.detail {
    width: 230px;
}

.details {
    width: 250px;
}

.detail-div {
    width: 250px;
    margin: 1rem auto;
    text-align: center;
}

    .detail-div img {
        margin: 0.4rem;
    }

    .detail-div.size img {
        width: 109px;
    }

    .detail-div p {
        line-height: 1.5;
        margin: 0.4rem auto;
    }

    .detail-div > p:nth-child(2) {
        font-weight: 600;
    }

.download-div {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.download {
    display: flex;
    width: 180px;
    padding: 0.3rem 0.8rem;
    margin: 0.8rem 0.5rem;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
}

    .download p{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .download span:nth-child(1){
        font-size: 12px;
    }

    .download span:nth-child(2) {
        font-size: 20px;
        font-weight: 600;
    }

    .download img {
        width: 30px;
    }

    .download.apple-store {
        padding: 0.3rem 1rem;
    }

.figure-div {
    margin: 1rem 0;
}

.figure {
    float: right;
    clear: both;
}

.figure span {
    display: block;
    margin: 0.4rem 0 0 0.6rem;
}

.figure span:first-child {
    margin-top: 1.2rem;
}

.footer {
    background: #53b175;
    padding: 1rem 0.6rem;
    font-size: 12px;
    color: #fcfcfc;
}

    .footer a {
        color: #fcfcfc;
        margin: 0.4rem 0;
    }

    .footer h6 {
        font-size: 10px;
        margin: 0.7rem 0 0.4rem 0;
    }

    .footer > p {
        text-align: center;
    }

.foot-a, .foot-b, .foot-c, .foot-d {
    margin: 1rem 0;
}

.foot-b, .foot-c {
    display: flex;
    flex-direction: column;
}


.foot-a img {
    width: 100px;
    margin-bottom: 0.7rem 0.5rem;
}

.foot-a p {
    margin: 0.5rem 0;
}

.foot-d {
    text-align: center;
    border-top: 1px solid #fcfcfc;
    margin-top: 1.2rem;
}

.foot-d img {
    width: 30px;
    margin: 0.5rem 0.5rem;
}

.foot-d span {
    display: none;
}


.icon-div {
    width: 50%;
    margin: 0.5rem 0 0.5rem 0;
    padding-left: 10%;
}

    .icon-div img {
        width: 110px;
    }

.link-items ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.link-items li {
    margin: 0.3rem 0;
    font-size: 14px;
    font-weight: 600;
}

.link-items li:first-child a {
    color: #53b175;
}

.link-items a{
    color: #000000;
}

.nav-div {
    width: 75%;
    display: none;
}

    .nav-div.show {
        transform: translate(0, 0);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 35vh;
        padding: 0.6rem 0;
        background-color: rgb(255, 255, 255);
        border-bottom: 9px solid rgba(180, 180, 180, 0.6);
        justify-content: space-around;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        align-items: center;
        transition-property: transform;
        transition-timing-function: ease-in-out;
        -webkit-transition-duration: 1s;
        -o-transition-duration: 1s;
        -moz-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

.phone {
    margin: 0.2rem auto;
}

.phone img {
    width: 230px;
    text-align: center;
}

.review-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-div > div {
    margin: 0.6rem 0;
}

.review-div p {
    line-height: 1.5;
}

.review {
    display: flex;
}

    .review > img {
        margin: 0.8rem 0 0 1.5rem;
    }

.signup {
    display: flex;
    width: 40%;
    justify-content: center;
    //margin: 2rem auto 2.3rem auto;
    padding: 0.6rem 1rem;
    background: #53b175;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #FCFCFC;
}

.stats-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .stats-div img {
        margin-top: 0.6rem;
    }

    .stats-div > div {
        text-align: center;
        margin-top: 2rem;
    }

    .stats-div span {
        display: block;
        font-size: 20px;
        font-weight: 600;
        color: #53b175;
    }

.subtext {
    margin-bottom: 1.2rem;
    margin-left: 4%;
}

    .subtext > p {
        line-height: 1.5;
    }

    .subtext h2 {
        width: 288px;
        margin-bottom: 0.7rem;
    }

.text {
    width: 90%;
    margin: 0 auto;
}

    .text > p{
        margin: 0.3rem 0;
        line-height: 1.5;
    }

    .text > button {
        display: flex;
        width: 173px;
        justify-content: center;
        margin: 2rem auto 0 auto;
        padding: 0.8rem 1rem;
        background: #53b175;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #FCFCFC;
    }


@media screen and (min-width: 480px) and (max-width: 768px) {
    h3 {
        font-size: 24px;
    }

    #first-section div:first-child {
        width: 430px;
        margin: auto;
    }

    #second-section > p {
        width: 460px;
    }

    #third-section h3 {
        text-align: left;
    }

    #fourth-section > p {
        width: 75%;
        margin: auto;
    }

    .footer {
        font-size: 13px;
    }

        .footer h6 {
            font-size: 11px;
        }

    .footer-sub {
        display: flex;
        justify-content: space-around;
        width: 460px;
        margin: 0 auto;
    }

    .foot-a {
        text-align: center;
    }

    .text {
        width: 350px;
    }

        .text > button {
            margin: 2rem 0 0 0;
        }

    .review-div {
        justify-content: space-around;
        flex-flow: wrap;
    }

    .stats-div {
        justify-content: space-around;
        flex-flow: wrap;
    }

}

@media screen and (min-width: 769px) {
    h3 {
        font-size: 24px;
    }

    #first-section {
        flex-direction: row;
        justify-content: center;
        margin-top: 3rem;
        background-image: url("../Contact page/icons/opacity.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-position: left 7%;
        background-size: 500px;
    }

    #second-section > div {
        max-width: 800px;
        margin: auto;
    }

    #second-section > p {
        width: 450px;
    }

    #third-section {
        display: flex;
        flex-flow: nowrap;
        width: 90%;
        margin: 0 auto 3rem auto;
        justify-content: center;
    }

        #third-section h3 {
            text-align: left;
            width: 250px;
        }

    #fourth-section {
        margin-top: 5rem;
    }

    #fourth-section > p span {
        display: block;
    }

    .footer > div {
        display: flex;
        justify-content: space-between;
        padding: 0 4rem;
        font-size: 14px;
    }

    .footer > p {
        text-align: left;
        margin-left: 3rem
    }

    .footer h6 {
        font-size: 14px;
    }

    .footer-sub {
        display: flex;
        justify-content: space-around;
        flex: 2 2 0;
    }

    .foot-b, .foot-c {
        justify-content: space-around;
        margin: 0.7rem 0 3rem 0;
    }

    .foot-a img {
        width: 220px;
        margin-top: 0.5rem;
    }

    .foot-a p {
        width: 200px;
        line-height: 1.5;
    }

    .foot-d {
        display: flex;
        flex-direction: column;
        border-top: none;
        text-align: left;
    }

        .foot-d h6 {
            margin-left: 0.7rem;
        }

        .foot-d img {
            margin: 0.4rem 0.5rem;
            vertical-align: middle;
        }

        .foot-d span {
            display: inline;
        }

    .hamburger-menu {
        display: none;
    }

    .icon-div {
        width: 25%;
        margin: 0 0 0rem 6rem;
        padding-left: 0;
    }

        .icon-div img {
            width: 110px;
            margin-top: 0;
        }

    .link-items ul {
        margin-top: 0.2rem;
        flex-direction: row;
    }

    .link-items li {
        margin: 0.3rem 1rem;
        font-size: 16px;
    }

    .nav-div {
        display: flex;
        width: 75%;
        padding: 0 0.5rem;
        justify-content: space-around;
    }

    .phone {
        margin: 0.2rem 0;
    }

        .phone img {
            width: 400px;
        }

    .review-div {
        flex-flow: wrap;
        justify-content: space-between;
        max-width: 1000px;
        margin: 3rem auto;
    }

    .signup {
        width: 140px;
        align-items: center;
        padding: 0.3rem 1rem;
        font-size: 16px;
    }

    .stats-div {
        flex-direction: row;
        justify-content: center;
    }

        .stats-div > div {
            text-align: center;
            margin: 2rem 6rem;
        }

    .subtext h2 {
        margin-top: 7rem;
    }

    .text {
        max-width: 350px;
        margin: 7rem 1rem;
    }

        .text > button {
            margin: 2rem 0 0 0;
        }
}